body {
	font-family: sans-serif;
	font-size:12px;
}

#canvasEl {
    display: block;
}

.tower,
.mob {
    width: 32px;
    height: 32px;
    background-color: transparent;
    padding: 0;
    border: 1px solid black;
    cursor: pointer;
}

#mobs {
    display: flex;
}

#towerMenu{
	background-color: #efefef;
	position: absolute;
	width:150px;
	height:100%;
	display:visible;
	transition: transform 0.3s;
	transition-timing-function: ease-out;
}

#towerSelectedInfo{
	background-color: #efefef;
	position:absolute;
	top:0;
	right:0;
	padding: 10px;
	width:100px;
}
#towerSelectedInfo ul{
	list-style: none;
	margin:0;
	padding: 0
}

#towerInfo{
	background-color: #efefef;
	position:absolute;
	top:0;
	right:0;
	padding: 10px;
	width:100px;
}
#towerInfo ul{
	list-style: none;
	margin:0;
	padding: 0
}

#gameWrapper{
	overflow:hidden;
	position: relative;
	width:320px;
	height: 480px;	
}

.towerMenuHide{
	transform: translateX(-150px);
}

.infoHide{
	display:none;
}


